<% include ../partials/header %>

<div class="ui main text container">
    <div class="ui huge header"><%= book.title %></div>
    <div class="ui attached segment">
        <div class="ui divided items">
            <div class="item">
                <!-- Controls Image size -->
                <div class="image"> 
                    <img src="<%= book.image %>" alt="book">
                </div>
                <div class="content">
                    <div>
                        <h3>Author: <%= book.author %></h3>
                    </div>
                    <hr>
                    <div class="description">
                        <p><%- book.description %></p>
                        <p>
                            <em>Submitted by <strong><%= book.creator.username %></strong></em>
                        </p>
                    </div>
                    <br>
                    <a class="ui blue basic button" href="/books/<%= book._id %>/edit">Edit Book</a>
                    <form id="delete" action="/books/<%= book._id %>?_method=DELETE" method="POST">
                        <button class="ui red basic button">Delete Book</button>
                    </form>
                    <form id="delete" action="/books/<%= book._id %>/reviews/new">
                        <button class="ui green basic button">Write a Review</button>
                    </form>
                </div> 
            </div>
        </div>
    </div>
    <div class="ui attached segment">
        <div id="text-center"><h3>ALL REVIEWS</h3></div>
        <% book.review.forEach(function(reviews) { %>
        <div>
            <hr>
            <strong><%= reviews.creator.username %> - <%= reviews.title %></strong>
            <span class="pull-right"><em> 10 days ago</em></span>
            <br>
            <p>
                <%= reviews.text %>
            </p>
            <a class="ui blue basic button" href="/books/<%= book._id %>/reviews/<%= reviews._id %>/edit">Edit Review</a>
            <form id="delete" action="/books/<%= book._id %>/reviews/<%= reviews._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete Review</button>
            </form>
            <% }) %>
        </div>
       
    </div>
   
</div>


<% include ../partials/footer %>