<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header"><%= book.title %></div>
    <div class="ui attached segment">
        <div class="ui divided items">
            <div class="item">
                <!-- Controls Image size -->
                <div class="image"> 
                    <img src="<%= book.image %>" alt="book">
                </div>
                <div class="content">
                    <div>
                        <h3>Author: <%= book.author %></h3>
                    </div>
                    <hr>
                    <div class="description">
                        <p><%- book.description %></p>
                    </div>
                    <br>
                    <a class="ui blue basic button" href="/books/<%= book._id %>/edit">Edit Review</a>
                    <form id="delete" action="/books/<%= book._id %>?_method=DELETE" method="POST">
                        <button class="ui red basic button">Delete Review</button>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>